.div1-splash{
    display: flex;
    align-items: center; 
}

.img-splash{
    width: clamp(90px, 8vw, 150px);
    height: auto; 
    border-radius: 28px;
    box-shadow: 0px 0px 30px #fff;
} 

.div2-splash{
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 5px; 
}  

.crossneuron-splash{
    font-size: clamp(20px, 1.9rem, 40px);
    background: linear-gradient(rgb(233, 9, 233), rgba(0, 255, 213, 0.973));
    -webkit-background-clip: text; 
    color: transparent;
}

.trainer-splash{
    font-size: clamp(12px, 1.0rem, 30px);
    font-weight: bold;
    color: #000;
    text-shadow: 0px 0px 8px #fff; 
    opacity: 0.6;
} 

.contenedor{
    width: clamp(300px, 90%, 500px);
    height: auto; 
    background: #fff;   
    border-radius: 18px; 
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}  

.encabezado-login{
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 11px; 
}

.logos{
    width: clamp(40px, 5vw, 80px);
    height: auto;  
}  

.titulos{
    font-size: clamp(18px, 1.7em, 36px);
    color: #000; 
    font-weight: bold;
} 

.subtitulos{ 
    font-size: clamp(12px, 1.0rem, 30px); 
    font-weight: bold;
    color:#000; 
    opacity: 0.4;
}

.forms{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

input{
    border-radius: 10px;
    padding: 9px;  
    padding-right: 50px;
    border: 2px solid #ccc; 
}

.boton-iniciar-sesion {
    cursor: pointer; 
    border-radius: 9px; 
    padding: 9px;  
    padding-inline: 50px 50px;  
    border: none;   
    text-align: center; 
    background: rgb(34, 131, 196);  
    font-size: 1.0rem; 
    color: #fff;  
    font-family: system-ui;
} 

.input-login-mail{
    position: relative; 
} 

.input-login-mail svg{
    position: absolute; 
    top: 50%;
    width: 20px; 
    transform: translateY(-50%);
    right: 15px;
    height: auto;
    fill: #888;
}

.input-login-password{
    position: relative;
} 

.input-login-password svg{ 
    position: absolute;  
    top: 50%;
    width: 20px; 
    height: auto; 
    right: 13px;
    transform: translateY(-50%);
    fill: #888;
}

.divider-row{
    display: flex; 
    flex-direction: column  ;
    align-items: center;
}

.social-logins{ 
    display: flex; 
    justify-content: center;
    gap: 30px; 
}

.img-google{
    width: clamp(10px, 2vw, 21px);
    height: auto;  
    object-fit: contain;
}

.img-apple{
    width: clamp(10px, 2vw, 21px);
    height: auto; 
    object-fit: contain;
} 

.boton-google{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    border: 0.5px solid #ccc;
    padding: 12px;   
    background: #fff; 
    color: #474545;  
    font-family: system-ui;
    font-weight: bold;
    padding-inline: 25px 25px;
    border-radius: 15px;
}

.boton-apple{
    display: flex; 
    align-items: center;
    gap: 10px;
    cursor: pointer;
    border: 0.5px solid #ccc;
    padding: 12px;  
    background: #000; 
    color: #fff; 
    font-family: system-ui; 
    font-weight: bold;
    padding-inline: 25px 25px;
    border-radius: 15px; 
}

.links-login{
    display: flex;
    align-items: center;
    flex-direction: column; 
    gap: 15px; 
}

.links-login span{
    font-size: clamp(10px, 0.9rem, 20px);
    color: rgba(70, 165, 228, 0.877);
    cursor: pointer; 
    font-weight: bold;
}